.projects{
    background-color: var(--second);
    text-align: center;
}

.projects h1{
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    row-gap: 1rem;


}
.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--dark);
    overflow: hidden;
    display: flex;

}
.projects-box img{
        width: 100%;
        transition: 0.5s ease;
}
.projects-box:hover img{
    transform: scale(1.1);
}

.projects-box .project-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}

.projects-box:hover .project-layer{
    transform: translateY(0);


}
.project-layer h4{
    color: var(--main);
    font-size: 2rem;
}

.project-layer p{
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0.3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
}
.project-layer a i{
    font-size: 2rem;
    color: var(--second);

}
